body {
  background: #83a4d4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.titulo {
  font-size: 40px;
  text-align: center;
  font-family: monospace;
  color: white;
}


.formulario {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.432);
}

#cidade {
  padding: 10px 30px;
}
#result{
  text-align: center;

}
.resultado {

  text-align: center;
  margin: auto;
}
.contaneir{
 column-width: auto;
}