body {
  background-color: rgba(76, 135, 202, 0.87);
}

.titulo {
  font-size: 40px;
  text-align: center;
  font-family: monospace;
  color: white;
}

.form{
  margin: auto;
  padding: 30px;
}
.formulario {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 400px;
  margin: auto;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.432);
}
button{
  height: 35px;
}
#cidade {
  padding: 10px 30px;
}
#result{
  text-align: center;

}
.resultado {

  text-align: center;
  margin: auto;
}